name: Build AppImage

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
        cache-dependency-path: package-lock.json
        
    - name: Install Dependencies
      run: |
        npm ci
        
    - name: Build AppImage (No Publish)
      if: startsWith(github.ref, 'refs/tags/') != true
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm run dist -- --linux AppImage

    - name: Build and Publish AppImage (Release)
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm run dist -- --linux AppImage --publish always

    - name: Update Release Metadata
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release edit ${{ github.ref_name }} \
          --title "de_rclone ${{ github.ref_name }}" \
          --notes "# Changes

          - **Added About section with credits** 
          - **small fixes**" \
          --draft=true
